# Python/Django
*.pyc
__pycache__/
*.sqlite3
*.pyc

# Virtual environment
venv/
.env

# Django collectstatic
staticfiles/

# IDE specific
.vscode/

node_modules/

# React build directory (if using npm build)
frontend/build/